﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script>
        var app = angular
            .module("myModule", [])
            .controller("myController", function ($scope, $http) {

                $http.get("WebService.asmx/GetMitarbeiter")
                    .then(function (response) {
                        $scope.Personenliste = response.data;
                    });
            });
    </script>
</head>
<body ng-app="myModule">
    <div ng-controller="myController">
        <table>
            <thead>
                <tr>
                    <th>Vorname</th>
                    <th>Nachname</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in Personenliste">
                    <td> {{ person.Vorname }} </td>
                    <td> {{ person.Nachname}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>