<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body ng-app>
	<!-- ng-init hier nur als Demo - dies sollte durch einen 
	     controller von Serverdaten geholte werden. -->
    <div ng-init="personenliste = [
                    { Vorname: 'Donald', Nachname: 'Duck'},
                    { Vorname: 'Dasy'  , Nachname: 'Duck'},
                    { Vorname: 'Daniel'  , Nachname: 'Düsentrieb'},
                    { Vorname: 'Gustav'   , Nachname: 'Ganz'},
                    { Vorname: 'Mikey'  , Nachname: 'Maus'}
                ]">
        <table>
            <thead>
                <tr>
                    <th>Vorname</th>
                    <th>Nachname</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in personenliste">
                    <td> {{ person.Vorname }} </td>
                    <td> {{ person.Nachname}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>