﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script>
        var app = angular
            .module("myModule", [])
            .controller("myController", function ($scope) {
            var Mitarbeiterliste = [
                                {
                                    Vorname: "Donald",
                                    Nachname: "Duck",
                                    Produkte: [
                                        { Bezeichnung: "Kugelschreiber" },
                                        { Bezeichnung: "Bleistift" }
                                    ]
                                    },
                                {
                                    Vorname: "Daniel",
                                    Nachname: "Düsentrieb",
                                    Produkte: [
                                        { Bezeichnung: "Rakete" },
                                        { Bezeichnung: "Raumschiff" }
                                    ]
                                },
                            ];

            $scope.Mitarbeiterliste = Mitarbeiterliste;
        });
    </script>
</head>
<body ng-app="myModule">
    <div ng-controller="myController">
        <ul>
            <li ng-repeat="Mitarbeiter in Mitarbeiterliste" ng-init="parentIndex = $index">
                {{Mitarbeiter.Nachname}}, {{Mitarbeiter.Vorname}}
                <ul>
                    <li ng-repeat="Produkt in Mitarbeiter.Produkte">
                        {{Produkt.Bezeichnung}} (Gehört zur MitarbeiterID = {{ parentIndex }}, BezeichnngsID = {{ $index }} )
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</body>

</html>